@reference 'tailwindcss';

.root{
    @apply flex flex-row items-center w-full bg-emerald-950 ;
}
.logo{
     @apply h-full text-sm text-white uppercase font-semibold tracking-[3.5px] flex items-center justify-start gap-3 bg-emerald-950 py-2 pl-2 pr-8;
}
.nav{
    @apply flex  h-full flex-1 ;
    }
 .link {
    @apply flex gap-2 justify-between items-center text-white text-sm  font-semibold hover:text-sky-700 transition-all duration-200 min-w-[100px] px-6 py-2;
 }   
.active {
    @apply  text-sky-700 font-extrabold
}
.user {
    @apply  flex  items-center justify-center gap-3 text-white text-sm tracking-tight font-bold p-2 
}
.userIcon{
    @apply size-6  font-bold ;
}

